
<fs-file (select)="select($event)">
  <button mat-raised-button color="primary">Select File</button>
</fs-file>
<button mat-raised-button color="primary" (click)="upload()">Upload</button>

<span *ngIf="percent">{{percent}}% <span *ngIf="kbLoaded">{{kbLoaded}}KB</span></span>

<br><br>

<fs-file-previews [files]="files">
  <ng-template fs-file-preview-action placement="top-right" action="remove" tooltip="Remove" (click)="remove($event)">
    <mat-icon>close</mat-icon>
  </ng-template>
</fs-file-previews>
