<fs-examples [config]="config">

  <fs-example name="CRUD Requests" componentName="first-example">
    <first-example></first-example>
  </fs-example>
  <fs-example name="Multiple File Upload" componentName="upload-example">
    <upload-example></upload-example>
  </fs-example>
  <fs-example name="Single File Upload with Progress" componentName="single-upload">
    <single-upload></single-upload>
  </fs-example>

  <fs-example name="Single File Upload with Cancel after 1 second" componentName="single-upload">
    <upload-cancel-example></upload-cancel-example>
  </fs-example>

  <div fs-examples-install>
    <div class="examples-h2">Main Module</div>
    <fs-example-highlight language="ts"></fs-example-highlight>

    <div class="examples-h2">alert.interceptor.ts</div>
    <fs-example-highlight language="ts"></fs-example-highlight>

    <div class="examples-h2">token.interceptor.ts</div>
    <fs-example-highlight language="ts"></fs-example-highlight>

    <div class="examples-h2">response.handler.ts</div>
    <fs-example-highlight language="ts"></fs-example-highlight>

  </div>

</fs-examples>

